progress-bar {
    .progress-outer {
        width: 100%;
        height: 20px;
        text-align: center;
        background-color: #f4f4f4;
        border: 1px solid #dcdcdc;
        color: #fff;
        border-radius: 3px;
    }
 
    .progress-inner {
        height: 18px;
        white-space: nowrap;
        overflow: hidden;
        padding: 0px;
        border-radius: 3px;
        background-color: map-get($colors, progress_inner);
    }
    .progress-label {
        display: table;
        text-align: center;
        color: #323232;
    }
    .inner_label {
        display: table-cell;
        border: 1px solid #cdc2c2;
        border-radius: 2px;
    }
}
