<ion-row>
    <ion-col col-10>
        <div class="progress-outer">    
            <div class="progress-inner" *ngIf="total==0"[style.width]="0 + '%'">
                &nbsp;
            </div>
            <div class="progress-inner" *ngIf="total!=0&&progress%total!=0&&progress>0"[style.width]="(progress%total)/total*100 + '%'">
                &nbsp;
            </div>
            <div class="progress-inner" *ngIf="total!=0&&progress%total==0&&progress>0&&isStart"[style.width]="0 + '%'">
                &nbsp;
            </div>
            <div class="progress-inner" *ngIf="total!=0&&progress%total==0&&progress>0&&!isStart"[style.width]="100 + '%'">
                &nbsp;
            </div>
        </div>
    </ion-col>
    <ion-col class="progress-label" col-2> 
        <span class="inner_label">{{total}}</span>
    </ion-col>
</ion-row>



