<!--
  Generated template for the TimeCountPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="progress_inner" hideBackButton>
    <ion-buttons left>
      <button (click)="close()" ion-button color="danger" clear icon-only color="light">
        <img src="assets/img/img-close.png" style="width : 50%;" >
      </button>
    </ion-buttons>
    <ion-title>禪定時間設置</ion-title>
  </ion-navbar>
</ion-header>


<ion-content no-padding>
  <h1 text-center>剩餘時間</h1>
  <timer #timer [timeInSeconds]="timeInSeconds"></timer>
</ion-content>
