<!--
  Generated template for the PlayPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="progress_inner" hideBackButton>
    <ion-buttons left>
      <button (click)="close()" ion-button color="danger" clear icon-only color="light">
        <img src="assets/img/img-close.png" style="width : 50%;" >
      </button>
    </ion-buttons>
    <ion-title>試聽咒語</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <audio-track #audio [track]="currentTrack" (onFinish)="onTrackFinished($event)">
    <ion-card>
      <img class="image-thumb" src="{{audio.art}}"/>
      <!--<img src="{{audio.art}}">-->
    </ion-card>
    <ion-row text-center>        
      <ion-col col-4>
        <button ion-button icon-only round style="background:transparent">
          <img src="assets/img/img-prev.png" style="width : 50%;" (click)="prevPlay()" >
        </button>
      </ion-col>
      <ion-col col-4> 
        <!--<button *ngIf="!currentTrack.playing" (click)="playTrack(currentTrack)" color="primary" clear ion-button icon-only><ion-icon name="play-outline"></ion-icon></button>
        <button *ngIf="currentTrack.playing" (click)="pauseTrack(currentTrack)" color="primary" clear ion-button icon-only><ion-icon name="pause-outline"></ion-icon></button>-->
            
        <audio-track-play primary [audioTrack]="audio">
          <ion-spinner></ion-spinner>
        </audio-track-play>
      </ion-col>
      <ion-col col-4>
        <button ion-button icon-only round style="background:transparent">
          <img src="assets/img/img-next.png" style="width : 50%;" (click)="nextPlay()" >
        </button>
      </ion-col>
    </ion-row>
    <ion-item text-center no-lines>
      {{audio.title}}
    </ion-item>
    <audio-track-progress-bar duration progress [audioTrack]="audio"></audio-track-progress-bar>
  </audio-track>
</ion-content>

