<!--
  Generated template for the ListDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="progress_inner" hideBackButton>
    <ion-buttons left>
      <button (click)="close()" ion-button color="danger" clear icon-only color="light">
        <img src="assets/img/img-close.png" style="width : 50%;" >
      </button>
    </ion-buttons>
    <ion-title>{{tmpDetailItem.item.item_name}}</ion-title>
    <ion-buttons end>
      <button (click)="goChartPage()" ion-button icon-only>
        <ion-icon ios="ios-podium" md="md-podium"></ion-icon>
      </button>
      <button (click)="onDone()" ion-button icon-only color="progress_inner">
        <img src="assets/img/img-check.png" style="width : 50%;" >
      </button>            
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content no-padding>
  <ion-grid lines class="padding-item">
    <ion-row class="text-style">
        <ion-col col-6>
          <ion-label>分類</ion-label>
        </ion-col>
        <ion-col col-6>
          <ion-label text-end text-wrap>{{tmpDetailItem.categoryName}}</ion-label>
        </ion-col>
    </ion-row>
    <ion-row class="text-style">
        <ion-col col-6>
          <ion-label>名稱</ion-label>
        </ion-col>
        <ion-col col-6>
          <ion-label *ngIf="!isAppCategory()" text-end text-wrap>{{tmpDetailItem.item.item_name}}</ion-label>
          <ion-input *ngIf="isAppCategory()" text-end text-wrap type="text" value="" [(ngModel)]="tmpDetailItem.item.item_name" >{{tmpDetailItem.item.item_name}}</ion-input>
        </ion-col>
    </ion-row>
    <ion-row class="text-style">
        <ion-col col-6>
          <ion-label>目標遍數</ion-label>
        </ion-col>
        <ion-col col-6>
          <ion-input text-end type="number" value="" [(ngModel)]="tmpDetailItem.target_count">{{tmpDetailItem.target_count}}</ion-input>
          <!--<ion-label text-end>{{detailItem.target_count}}</ion-label>   -->
        </ion-col>
    </ion-row>
    <ion-row class="text-style">
        <ion-col col-6>
          <ion-label>歷史遍數</ion-label>
        </ion-col>
        <ion-col col-6>
          <ion-input text-end type="number" value="" [(ngModel)]="tmpDetailItem.history_count">{{tmpDetailItem.history_count}}</ion-input>
          <!--<ion-label text-end>{{detailItem.history_count}}</ion-label>   -->
        </ion-col>
    </ion-row>
    <ion-row class="text-style">
        <ion-col col-6>
          <ion-label>當前遍數</ion-label>
        </ion-col>
        <ion-col col-6>
          <!--<ion-input text-end type="number" value="" [(ngModel)]="tmpDetailItem.complete">{{tmpDetailItem.complete}}</ion-input>-->
          <ion-label text-end>{{tmpDetailItem.complete}}</ion-label>   
        </ion-col>
    </ion-row>
    <ion-row class="text-style">
        <ion-col col-6>
          <ion-label>總遍數</ion-label>
        </ion-col>
        <ion-col col-6>
          <ion-label text-end>{{getTotalCount()}}</ion-label>   
        </ion-col>
    </ion-row>
    <ion-row class="text-style">
        <ion-col col-6>
          <ion-label>總計完成</ion-label>
        </ion-col>
        <ion-col col-6>
          <ion-label text-end>{{getPropotion(this.tmpDetailItem.complete, this.tmpDetailItem.target_count)}}</ion-label>
        </ion-col>
    </ion-row>
    <ion-row class="text-style">
        <ion-col col-6>
          <ion-label>建立日期</ion-label>
        </ion-col>
        <ion-col col-6>
          <ion-label text-end>{{getStartDate()}}</ion-label>  
          <!--<ion-datetime text-end displayFormat="MMM DD YYYY" max="2050" [(ngModel)]="tmpDetailItem.created" class="edit-text"></ion-datetime>-->
        </ion-col>
    </ion-row>
    <ion-row class="text-style">
        <ion-col col-6>
          <ion-label>完成日期</ion-label>
        </ion-col>
        <ion-col col-6>
          <!--<ion-label text-end>{{getFinishDate()}}</ion-label>  -->
          <ion-datetime text-end displayFormat="MMM DD YYYY" [min]="today" max="2100" [(ngModel)]="tmpDetailItem.endDate" class="edit-text"></ion-datetime>
        </ion-col>
    </ion-row>
    <ion-row class="text-style">
        <ion-col col-6>
          <ion-label>最後功課日期</ion-label>
        </ion-col>
        <ion-col col-6>
          <ion-label text-end>{{getLastCoundDate()}}</ion-label> 
          <!--<ion-datetime text-end displayFormat="MMM DD YYYY" max="2050" [(ngModel)]="tmpDetailItem.updated" class="edit-text"></ion-datetime>-->
        </ion-col>
    </ion-row>

  </ion-grid>

  <div class="padding-item">
    <button ion-button color="progress_inner" block round (click)="openMailPage()">EMAIL</button>
  </div>

</ion-content>
