page-list-detail {
    $color: #666666;
    .text-style {
        color: $color;
    }
    ion-col:first-child {
        font-weight: bold;
    }
    ion-row {
        border-bottom: 1px solid lightgray;        
    }
    .padding-item {
        padding: 8px 16px 0px 16px; //top right bottom left
    }
}
