page-list {
    ion-label {
        margin-bottom: 0px;
    }
    .drop-down {
        border: 1px solid #b7c4cb;        
        border-radius: 30px;
        overflow: hidden;
        margin-bottom: 0px;
    }
    .drop-down-item, .drop-down {
        background: white;
    }
    .padding-item {
        padding: 8px 16px 8px 16px; //top right bottom left
        background: #f7f8fa;
    }

    .out-box { display: table; width:100%;}
    .in-box { display: table-cell; vertical-align: middle; }

    // circular progresss bar
    .progress-wrapper {
        position: relative;
        font-size: 40px;
    }

    .current {
        position: absolute;
        color: #BE8947;
        line-height: 1;
        font-size: 9px;
    }
    round-progress {
        margin: auto;
    }

    // select option
    .select-label {
        width: 0% !important;
    }
    .select-item {
        width: 100% !important;
        padding-left: 0px;
    }
    ion-select {
        max-width: 100%;        
    }
}
