<!--
  Generated template for the ListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="progress_inner" hideBackButton>
    <ion-buttons left>
      <button (click)="close()" ion-button color="danger" clear icon-only color="light">
        <img src="assets/img/img-back.png" style="width : 50%;" >
      </button>
    </ion-buttons>
    <ion-title>功課簿</ion-title>
    <ion-buttons end>
      <button (click)="onAddItem()" ion-button>
        新增
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div padding>
    <ion-segment [(ngModel)]="sort"  color="progress_inner" (ionChange)="sortList(sort)">
      <ion-segment-button value="title">
        名稱
      </ion-segment-button>
      <ion-segment-button value="date">
        建立日期
      </ion-segment-button>
      <ion-segment-button value="complete">
        已完成功課
      </ion-segment-button>
    </ion-segment>
  </div>

  <div class="icon-wrapper padding-item">
    <ion-list class="drop-down" no-lines>
      <ion-item class="drop-down-item">
        <ion-label *ngIf="!isCategorySelected" [class.select-label] = "isCategorySelectedionic ">選擇分類</ion-label>
        <ion-select [class.select-item] = "isCategorySelected" [(ngModel)]="categoryId" (ionChange)="categorySelected($event)">
          <ion-option *ngFor="let category of categoryList, let i = index" [value]="i" checked="false">{{category}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </div>

  <div [ngSwitch]="sort">
    <ion-list *ngSwitchCase="'title'" no-padding>
      <ion-item-sliding *ngFor="let item of data" (click)="onListDetailItem(item)">
        <ion-item>
          <ion-row class="out-box">
            <ion-col col-6 class="in-box" text-wrap>
              <h3>{{item.item.item_name}}</h3>
            </ion-col>
            <ion-col col-3 text-center class="in-box">
              <p>{{(this.item.complete%this.item.target_count==0&&this.item.complete>0)?this.item.complete:this.item.complete%this.item.target_count}}/{{item.target_count}}</p>
            </ion-col>
            <ion-col col-3 text-center class="in-box">
              <div class="progress-wrapper">
                <div class="current" [ngStyle]="getOverlayStyle()">{{ getPropotion(item.complete, item.target_count) }}</div>
                <round-progress
                  [current]="(this.item.complete%this.item.target_count==0&&this.item.complete>0)?this.item.complete:this.item.complete%this.item.target_count"
                  [max]="item.target_count"
                  [stroke]="stroke"
                  [radius]="radius"
                  [semicircle]="semicircle"
                  [rounded]="rounded"
                  [responsive]="responsive"
                  [clockwise]="clockwise"
                  [color]="gradient ? 'url(#gradient)' : color"
                  [background]="background"
                  [duration]="duration"
                  [animation]="animation"
                  [animationDelay]="animationDelay"></round-progress>
              </div>
            </ion-col>
          </ion-row>
        </ion-item>
        <ion-item-options>
          <button danger (click)="removeItem(item)"><ion-icon name="trash"></ion-icon> Delete</button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <ion-list *ngSwitchCase="'date'">
      <ion-item-sliding *ngFor="let item of data" (click)="onListDetailItem(item)">
        <ion-item>
          <ion-row class="out-box">
            <ion-col col-6 class="in-box" text-wrap>
              <h3>{{item.item.item_name}}</h3>
              <p>{{getStartDate(item)}}</p>
            </ion-col>
            <ion-col col-3 text-center class="in-box">
              <p>{{(this.item.complete%this.item.target_count==0&&this.item.complete>0)?this.item.complete:this.item.complete%this.item.target_count}}/{{item.target_count}}</p>
            </ion-col>
            <ion-col col-3 text-center class="in-box">
              <div class="progress-wrapper">
                <div class="current" [ngStyle]="getOverlayStyle()">{{ getPropotion(item.complete, item.target_count) }}</div>
                <round-progress
                  [current]="(this.item.complete%this.item.target_count==0&&this.item.complete>0)?this.item.complete:this.item.complete%this.item.target_count"
                  [max]="item.target_count"
                  [stroke]="stroke"
                  [radius]="radius"
                  [semicircle]="semicircle"
                  [rounded]="rounded"
                  [responsive]="responsive"
                  [clockwise]="clockwise"
                  [color]="gradient ? 'url(#gradient)' : color"
                  [background]="background"
                  [duration]="duration"
                  [animation]="animation"
                  [animationDelay]="animationDelay"></round-progress>
              </div>
            </ion-col>
          </ion-row>
        </ion-item>
        <ion-item-options>
          <button danger (click)="removeItem(item)"><ion-icon name="trash"></ion-icon> Delete</button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    <div *ngSwitchCase="'complete'">
      <ion-list>
        <ion-item-sliding *ngFor="let item of data" (click)="onListDetailItem(item)">
          <ion-item>
            <ion-row class="out-box">
              <ion-col col-6 class="in-box" text-wrap>
                <h3>{{item.item.item_name}}</h3>
              </ion-col>
              <ion-col col-3 text-center class="in-box">
                <p>{{(this.item.complete%this.item.target_count==0&&this.item.complete>0)?this.item.complete:this.item.complete%this.item.target_count}}/{{item.target_count}}</p>
              </ion-col>
              <ion-col col-3 text-center class="in-box">
                <div class="progress-wrapper">
                  <div class="current" [ngStyle]="getOverlayStyle()">{{ getPropotion(item.complete, item.target_count) }}</div>
                  <round-progress
                    [current]="(this.item.complete%this.item.target_count==0&&this.item.complete>0)?this.item.complete:this.item.complete%this.item.target_count"
                    [max]="item.target_count"
                    [stroke]="stroke"
                    [radius]="radius"
                    [semicircle]="semicircle"
                    [rounded]="rounded"
                    [responsive]="responsive"
                    [clockwise]="clockwise"
                    [color]="gradient ? 'url(#gradient)' : color"
                    [background]="background"
                    [duration]="duration"
                    [animation]="animation"
                    [animationDelay]="animationDelay"></round-progress>
                </div>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item-options>
            <button danger (click)="removeItem(item)"><ion-icon name="trash"></ion-icon> Delete</button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
      <div *ngIf="data.length>0" style="padding: 0px 16px 8px 16px;">
        <button ion-button color="progress_inner" block round (click)="openMailPage()">EMAIL</button>
      </div>
    </div>
  </div>
</ion-content>
