<!-- Generated template for the TimerComponent component -->
<div *ngIf="timer">
    <div *ngIf="timeInSeconds && timeInSeconds > 0" large full clear class="timer-button timer-text">
        <span class="digit-back">{{sixthDigit}}</span>
        <span class="digit-back">{{fifthDigit}}</span>
        <span>:</span>
        <span class="digit-back">{{forthDigit}}</span>
        <span class="digit-back">{{thirdDigit}}</span>
        <span>:</span>
        <span class="digit-back">{{secondDigit}}</span>
        <span class="digit-back">{{firstDigit}}</span>
    </div>
    <!--<ion-item class="no-bottom-border item">                
        <button ion-button *ngIf="timeInSeconds && timeInSeconds > 0" large full clear class="timer-button timer-text">{{timer.displayTime}}</button>
    </ion-item>
    <ion-item class="no-bottom-border" *ngIf="timeInSeconds && timeInSeconds > 0">
        <button ion-button icon-left clear color="danger" small (click)="initTimer()" item-left *ngIf="!timer.runTimer && (timer.hasStarted || timer.hasFinished) || timer.hasFinished">
            <ion-icon name="refresh"></ion-icon>
            Reset
        </button>
        <button ion-button icon-left clear small color="primary" (click)="pauseTimer()" item-right *ngIf="timer.runTimer && timer.hasStarted && !timer.hasFinished">
            <ion-icon name="pause"></ion-icon>
            Pause
        </button>      
        <button ion-button icon-left clear small color="primary" (click)="resumeTimer()" item-right *ngIf="!timer.runTimer && timer.hasStarted && !timer.hasFinished">
            <ion-icon name="play"></ion-icon>
            Resume
        </button>      
        <button ion-button icon-left clear small color="primary" (click)="startTimer()" item-right *ngIf="!timer.hasStarted">
            <ion-icon name="play"></ion-icon>
            Start
        </button>            
    </ion-item>-->
</div>  

<style>
  .timer-button {
      padding-top: 100px;
    font-size: 6rem !important;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .digit-back {
    color: #cccccc;
    background: #333333;
    border-radius: 5px;
    padding-left: 3px;
    padding-right: 3px;
    margin: 3px;
  }
  
  .no-bottom-border.item .item-inner {
      border-bottom: none !important;
  }
</style>