
<ion-header>

  <ion-navbar color="white" hideBackButton>
    <ion-buttons left>
      <button (click)="infoPage()" ion-button color="progress_inner">
        <ion-icon ios="ios-information-circle-outline" md="md-information-circle-outline"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title></ion-title>
    <ion-buttons end>
      <button (click)="openSettingPage()" ion-button icon-only color="progress_inner">
        <ion-icon ios="ios-settings" md="md-settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>

  <div>
    <div style="padding-left: 16px; padding-right: 16px; margin-top: -24px;">
      <div class="count-box">
        <h1 *ngIf="total==0">{{total}}</h1>
        <h1 *ngIf="total!=0">{{loadProgress%total}}</h1>
      </div>
      <div style="padding-bottom: 12px;">
        <ion-label style="margin: 0 auto;text-align: center;width: 100%;border-radius: 3px;font-size: 14px;color: #BE8947;">總遍數（包括歷史遍數) {{badgeCount}}</ion-label>
      </div>

      <progress-bar [progress]="loadProgress" [total]="total" [isStart]="isStart"></progress-bar>

      <div *ngIf="data.length>0" style="padding-top: 20px;">
        <ion-list no-lines class="item-list">
          <ion-item class="drop-down-item" text-wrap>
            <ion-label *ngIf="!isItemSelected" [class.select-label] = "isItemSelected">選擇已建立的功課</ion-label>
            <!--interface="popover"-->
            <ion-select [class.select-item] = "isItemSelected" style="padding-left: 0px;" (ionChange)="changeCategory($event)" [(ngModel)]="category">
              <ion-option *ngFor="let item of data, let i = index" [value]="i" checked="false">{{item.item.item_name}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </div>

      <div *ngIf="data.length==0" style="padding-top: 20px;">
        <div  no-lines>
          <button style="padding-top: 0px; background: white;"
              ion-button outline text-start block class="item-list drop-down text-color" color="light" icon-right (click)="onSelectItemClicked()">
          <span class="button-inner" style="justify-content:space-between;">
            選擇已建立的功課
            <ion-icon name="md-arrow-dropdown" item-right style="color: gray;"></ion-icon>
          </span>
          <ion-button-effect></ion-button-effect>
        </button>
        </div>
      </div>

      <!--<div *ngIf="data.length>0" class="icon-wrapper">
        <ion-list class="fa fa-envelope fa-5x fa-border icon-grey drop-down" no-lines>
          <ion-item class="drop-down-item" text-wrap>
            <ion-label *ngIf="!isItemSelected" [class.select-label] = "isItemSelected">選擇已建立的功課</ion-label>
            <ion-select [class.select-item] = "isItemSelected" style="padding-left: 0px;" (ionChange)="changeCategory($event)" [(ngModel)]="category">
              <ion-option *ngFor="let item of data, let i = index" [value]="i" checked="false">{{item.item.item_name}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-list>
        <span class="badge">{{badgeCount}}</span>
      </div>

      <div *ngIf="data.length==0" class="icon-wrapper">
        <div  no-lines>
          <button style="padding-top: 0px; background: white;"
              ion-button outline text-start block class="fa fa-envelope fa-5x fa-border icon-grey drop-down text-color" color="light" icon-right (click)="onSelectItemClicked()">
          <span class="button-inner" style="justify-content:space-between;">
            選擇已建立的功課
            <ion-icon name="md-arrow-dropdown" item-right style="color: gray;"></ion-icon>
          </span>
          <ion-button-effect></ion-button-effect>
        </button>
        </div>
        <span class="badge">{{badgeCount}}</span>
      </div>-->

    </div>
  </div>

  <div>
    <div class="frame">
      <span class="helper"></span>
      <!--<img class="image-plus" src="assets/img/btn-add.png" (click)="onPlusClicked()" />-->
      <img *ngIf="!isComplete()" class="image-plus" src="assets/img/btn-ball.png" (click)="onPlusClicked()" />
      <img *ngIf="isComplete()" class="image-plus" src="assets/img/btn_lotus.png" (click)="onPlusClicked()" />
      <div [hidden]="noMusic">
        <button ion-button icon-only round style="background:transparent">
          <img src="assets/img/img-music2.png" style="width : 30%;" (click)="openPlayPage()" >
        </button>
      </div>
    </div>
    <ion-grid no-padding>
      <ion-row text-center>

        <ion-col col-3>
          <button ion-button icon-only round outline color="dark">
            &nbsp;&nbsp;&nbsp;
            <img src="assets/img/img-refresh.png" style="width : 37%;" (click)="onRefresh()" >
            &nbsp;&nbsp;&nbsp;
          </button>
        </ion-col>
        <ion-col col-3>
          <button ion-button icon-only round outline color="dark">
            &nbsp;&nbsp;&nbsp;
            <img src="assets/img/img-alarm.png" style="width : 42%;" (click)="onNotifyAlam()" >
            &nbsp;&nbsp;&nbsp;
          </button>
        </ion-col>
        <ion-col col-3>
          <button ion-button icon-only round outline color="dark">
            &nbsp;&nbsp;&nbsp;
            <img src="assets/img/img-clock.png" style="width : 35%;" (click)="openMediationPage()" >
            &nbsp;&nbsp;&nbsp;
          </button>
        </ion-col>
        <ion-col col-3>
          <button ion-button icon-only round outline color="dark">
            &nbsp;&nbsp;&nbsp;
            <img src="assets/img/img-add.png" style="width : 30%;" (click)="onAddNewItem()" >
            &nbsp;&nbsp;&nbsp;
          </button>
        </ion-col>
      </ion-row>
      <p></p>
    </ion-grid>
  </div>
</ion-content>
