page-home {
  .count-box {
    border-radius: 5px;
    text-align: center;
    margin-bottom: -12px;
    h1 {color: black; font-size: 6em;}
  }






  .ion-picker-viewport {
    margin-top: 5px;
    max-height: 15%;
    width:100%;
    display:block !important;
    overflow:scroll !important;
  }
  .frame {
    width: 100%;      /* equals max image height */
    // height: 300px;
    padding-left: 0px;
    padding-right: 0px;
    // background-color: #323232;
    white-space: nowrap;
    text-align: center;
    // margin: 1em 0;
  }

  .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  .image-plus {
    vertical-align: middle;
    max-width: 65%;
    // margin-top: 10%;
    margin-bottom: 4%;
  }

  page-home .image-plus {
    vertical-align: middle;
    max-width: 68%;
    margin-bottom: 0%;
  }


  ion-icon {
    font-size: 35px; //Preferred size here
  }

  .drop-down-item {
    border: 1px solid;
    border-radius: 4px;
  }
  .item-list {
    border: 1px solid #979797;
    border-radius: 5px;
  }

  .icon-wrapper{
    position:relative;
    .drop-down {
      padding-top: 26px;
      padding-left: 20px;
      padding-right: 20px;
      margin-bottom: -32px;
    }
  }

  *.icon-blue {color: #0088cc}
  *.icon-grey {color: #BE8947}
  i {
    width:100px;
    text-align:center;
    vertical-align:middle;
  }
  .badge{
    background: rgba(190,137,71,1);
    color: #ffffff;
    width: auto;
    height: auto;
    margin: 0;
    border-radius: 50%;
    position:absolute;
    top:12px;
    right:8px;
    padding:5px;
  }

  // select option
  .select-label {
    width: 0% !important;
  }
  .select-item {
    width: 100% !important;
    padding-left: 0px;
  }
  ion-select {
    max-width: 100%;
  }

  .text-color {
    color: black;
  }

  // .popover-content {
  //     left: 20px;
  //     width: 90%;
  // }

  progress-bar .progress-outer {
    width: 100%;
    height: 6px;
    text-align: center;
    background-color: #f4f4f4;
    border: 1px solid #dcdcdc;
    color: #fff;
    border-radius: 3px;
    margin-top: 5px;
  }

  progress-bar .progress-inner {
    height: 4px;
    /* white-space: nowrap; */
    overflow: hidden;
    padding: 0px;
    border-radius: 3px;
    background-color: #BE8947;
  }

  progress-bar .inner_label {
    display: table-cell;
    border: 0px solid #cdc2c2;
    border-radius: 2px;
  }

  .count-box h1 {
    color: black;
    font-size: 3em;
    margin-top: 40px;
  }


}


