<!--
  Generated template for the InfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>info</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div class="content">True Buddha Foundation<br/>
    <label style="color:red;">世界真佛宗宗務委員會</label><br/><br/>
    True Buddha School Net (TBSN)<br/>
    <label style="color:red;">真佛宗全球資訊網</label><br/><br/>
    地址： 17110 NE 40TH CT, Redmond, WA,<br/>
    98052 U.S.A.<br/>
    電話： 1-425-8857573<br/>
    傳真： 1-425-8832173<br/>
    網址： <a href="http://www.tbsn.org"  target="_blank">www.tbsn.org</a><br/><br/>

    <label style="color:red;">真佛宗臉書官方專頁</label><br/>

    中文：<a href="http://m.facebook.com/syltbsn" target="_blank">www.facebook.com/syltbsn</a><br/>

    英文：<a href="http://m.facebook.com/syltbsnenglish" target="_blank">www.facebook.com/syltbsnenglish</a><br/>

    印尼文：<a href="http://m.facebook.com/syltbsnindonesia"  target="_blank">www.facebook.com/syltbsnindonesia</a><br/>

    「皈依」請至:<a href="http://tbsn.org/chinese3/news.php?cid=26&csid=7&id=1"  target="_blank"> http://tbsn.org/chinese3/news.php?cid=26&csid=7&id=1</a>
  </div>
  <hr/>

</ion-content>
