<!--
  Generated template for the ChartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="progress_inner" hideBackButton>
    <ion-buttons left>
      <button (click)="close()" ion-button color="danger" clear icon-only color="light">
        <img src="assets/img/img-back.png" style="width : 50%;" >
      </button>
    </ion-buttons>
    <ion-title>{{navTitle}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content no-padding>
  <div style="background: grey; padding-top: 1px;">
    <ion-label text-center color="progress_inner" style="color: #fff;
    font-size: 30px;
    margin: 0px;
    padding: 20px 0px 0px;">總計數</ion-label>
    <h2 text-center style="color: white; margin:0px; padding: 0px">{{detailItem.complete}}</h2>
    <div class="outer">
      <button ion-button text-center style="color: white; border: 0px solid white; border-radius: 20px;" outline>
        目標遍數:{{detailItem.target_count}}
      </button>
    </div>
  </div>
  <ion-grid>
    <ion-row text-center>
      <ion-col col-6  style="border-right: 1px solid wheat;">累計天數</ion-col>
      <ion-col col-6>每日平均遍數</ion-col>
    </ion-row>
    <ion-row text-center style="color:#BE8947;">
      <ion-col col-6 style="border-right: 1px solid wheat;">{{getTodayCount()}}</ion-col>
      <ion-col col-6>{{getDailyAverageCount()}}</ion-col>
    </ion-row>
  </ion-grid>
  <ion-segment style="padding-left: 16px; padding-right: 16px;" [(ngModel)]="switch"  color="progress_inner" (ionChange)="changeType(switch)">
    <ion-segment-button value="week">
      過去一週
    </ion-segment-button>
    <ion-segment-button value="month">
      過去一月
    </ion-segment-button>
    <ion-segment-button value="half_year">
      過去半年
    </ion-segment-button>
    <ion-segment-button value="all">
      全部
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="switch">
    <div *ngSwitchCase="'week'">
      <canvas baseChart [datasets]="chartData"
              [labels]="chartLabels"
              [options]="chartOptions"
              [colors]="chartColors"
              [legend]="chartLegend"
              [chartType]="chartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
    </div>
    <div *ngSwitchCase="'month'">
      <canvas baseChart [datasets]="chartData"
              [labels]="chartLabels"
              [options]="chartOptions"
              [colors]="chartColors"
              [legend]="chartLegend"
              [chartType]="chartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
    </div>
    <div *ngSwitchCase="'half_year'">
      <canvas baseChart [datasets]="chartData"
              [labels]="chartLabels"
              [options]="chartOptions"
              [colors]="chartColors"
              [legend]="chartLegend"
              [chartType]="chartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
    </div>
    <div *ngSwitchCase="'all'">
      <canvas baseChart [datasets]="chartData"
              [labels]="chartLabels"
              [options]="chartOptions"
              [colors]="chartColors"
              [legend]="chartLegend"
              [chartType]="chartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>


</ion-content>
