<!--
  Generated template for the SettingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="progress_inner" hideBackButton>
    <ion-buttons left>
      <button (click)="close()" ion-button color="danger" clear icon-only color="light">
        <img src="assets/img/img-close.png" style="width : 50%;" >
      </button>
    </ion-buttons>
    <ion-title>设置</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list no-lines>
    <!--<button ion-item (click)="onClickAlarm()">-->
      <!--<ion-icon color="primary" ios="ios-alarm-outline" md="md-alarm" item-left></ion-icon>-->
      <!--<ion-label> 禪修提醒</ion-label>-->
    <!--</button>-->
    <ion-item>
      <ion-icon color="primary" ios="ios-musical-notes" md="md-musical-notes" item-left></ion-icon>
      <ion-label> 声音开关</ion-label>
      <ion-toggle color="secondary" [(ngModel)]="isToggled" (ionChange)="notify()"></ion-toggle>
    </ion-item>
    <ion-item  text-wrap>
      關閉聲音，將關閉所有應用軟件內的聲音，包括禪修提醒，撥珠計數，達標報數的聲音。若只需關閉或開啟撥珠計數和達標報數的聲音，亦可點按首頁中的鈴聲圖案。
    </ion-item>
    <!--<button ion-item>
      <ion-icon color="primary" ios="ios-volume-up-outline" md="md-volume-up" item-left></ion-icon>
      <ion-label> 意见反馈</ion-label>
    </button>
    <button ion-item>
      <ion-icon color="primary"  ios="ios-information-circle-outline" md="md-information-circle" item-left></ion-icon>
      <ion-label> 关于我们</ion-label>
    </button>
    <button ion-item>
      <ion-icon color="primary" ios="ios-power-outline" md="md-power" item-left></ion-icon>
      <ion-label> 退出登录</ion-label>
    </button>-->
  </ion-list>

</ion-content>
