page-time-modal {
    ion-modal.my-popup {
        @media (min-width: 300px) and (min-height: 500px) {
            ion-backdrop {
            visibility: visible;
            }
        }

        .modal-wrapper {
            position: absolute;
            overflow: hidden;
            max-width: 280px;
            border-radius: 2px;
            width: 80vw;
            height: 50vh;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            border: 0;
            box-shadow: 0 16px 20px rgba(0,0,0,.4);
            background-color: #fafafa;
        }
    }

    ion-datetime {
        width: 100%;
    }

    .padding-item {
        padding: 8px 16px 0px 16px; //top right bottom left
    }
    ion-multi-picker {
        width: 100%;
    }
    .multi-picker-text {
        text-align: center;
    }
}
