<!--
  Generated template for the TimeModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="progress_inner" hideBackButton>
    <ion-buttons left>
      <button (click)="close()" ion-button color="danger" clear icon-only color="light">
        <img src="assets/img/img-close.png" style="width : 50%;" >
      </button>
    </ion-buttons>
    <ion-title>禪定時間設置</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-grid radio-group style="-webkit-text-fill-color: gray" [(ngModel)]="timer" (ionChange)="timeRadioChange($event)">
    <ion-row>
      <ion-col col-6>
        <ion-item>
          <ion-label>{{times[0].title}}</ion-label>
          <ion-radio [checked]="times[0].checked" value="{{times[0].min}}"></ion-radio>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item>
          <ion-label>{{times[1].title}}</ion-label>
          <ion-radio [checked]="times[1].checked" value="{{times[1].min}}"></ion-radio>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <ion-item>
          <ion-label>{{times[2].title}}</ion-label>
          <ion-radio [checked]="times[2].checked" value="{{times[2].min}}"></ion-radio>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item>
          <ion-label>{{times[3].title}}</ion-label>
          <ion-radio [checked]="times[3].checked" value="{{times[3].min}}"></ion-radio>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <ion-item>
          <ion-label>{{times[4].title}}</ion-label>
          <ion-radio [checked]="times[4].checked" value="{{times[4].min}}"></ion-radio>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item>
          <ion-label>{{times[5].title}}</ion-label>
          <ion-radio [checked]="times[5].checked" value="{{times[5].min}}"></ion-radio>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="padding-item">
    <button ion-button color="progress_inner" block round (click)="setDefaultTime()">开始禪定時間</button>
  </div>
  <p></p>
  <div text-center>
    <ion-item>
        <ion-multi-picker item-content [multiPickerColumns]="simpleColumns" [(ngModel)]="notifyTime" (ionChange)="timePickerChange($event)"></ion-multi-picker>
    </ion-item>

    <!--<ion-item text-center>
      <ion-datetime text-center displayFormat="h 小时 :mm 分钟" pickerFormat="h mm" [(ngModel)]="notifyTime" (ionChange)="timePickerChange($event)"></ion-datetime>
    </ion-item>-->
    <div class="padding-item">
      <button ion-button color="progress_inner" block round (click)="setManualTime()">开始自定時間</button>
    </div>
  </div>
</ion-content>
