<!--
  Generated template for the SendMailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="progress_inner" hideBackButton>
    <ion-buttons left>
      <button (click)="close()" ion-button color="danger" clear icon-only color="light">
        <img src="assets/img/img-back.png" style="width : 50%;" >
      </button>
    </ion-buttons>
    <ion-title>Send Mail</ion-title>
  </ion-navbar>
</ion-header>


<ion-content no-padding>
  <form [formGroup]="registerForm">
    <div class="padding-input">
      <ion-item no-lines  [class.invalid]="!name.valid && name.touched">
        <ion-input type="text" placeholder="Name" [formControl]="name" class="edit-text" ></ion-input>
      </ion-item>
      <ion-item *ngIf="name.hasError('required') && email.touched" class="invalid">
          <p>* Name is required!</p>
      </ion-item>
    </div>
    <div class="padding-input">
      <ion-item no-lines [class.invalid]="!email.valid && email.touched">
        <ion-input [formControl]="email" autocapitalize="off" placeholder="Email" class="edit-text" ></ion-input>
      </ion-item>
      <ion-item *ngIf="email.hasError('required') && email.touched" class="invalid">
          <p>* Email is required!</p>
      </ion-item>

      <ion-item *ngIf="email.hasError('minlength') && email.touched" class="invalid">
          <p>* Minimum email length is 3!</p>
      </ion-item>

      <ion-item *ngIf="email.hasError('maxlength') && email.touched" class="invalid">
          <p>* Maximum email length is 25!</p>
      </ion-item>
      <ion-item *ngIf="email.hasError('invalidEmail') && email.touched" class="invalid">
          <p>* Invalid e-mail!</p>
      </ion-item>
    </div>  
  </form>
  <div class="padding-item">
    <button ion-button color="progress_inner" block round [disabled]="(!registerForm.valid)" (click)="sendMail()">EMAIL</button>
  </div>

  <!--<h3>{{detailItem.item.item_name}}</h3>
  <p></p>
  <div>分類:{{detailItem.categoryName}}</div>
  <div>名稱:{{detailItem.item.item_name}}</div>
  <div>目標遍數:{{detailItem.target_count}}</div>
  <div>歷史遍數:{{detailItem.history_count}}</div>
  <div>當前遍數:{{detailItem.complete}}</div>
  <div>總計完成:{{getTotal()}}</div>
  <div>建立日期:{{getStartDate()}}</div>
  <div>完成日期:{{getFinishDate()}}</div>
  <div>最後功課日期:{{getLastCoundDate()}}</div>-->
  

</ion-content>
