page-send-mail {
    .edit-text {
        border: 1px solid #b7c4cb;        
        border-radius: 30px;  
        width: 100%;      
    }
    .padding-item {
        padding: 8px 16px 0px 16px; //top right bottom left
    }
    .padding-input {
        padding: 8px 0px 0px 0px; //top right bottom left
    }
    .text-input {
        margin-left: 16px;
        padding-right: 16px;
    }
    ion-input {
        margin-right: 8px;
    }
}
