page-new-item {
    .drop-down {
        border: 1px solid #b7c4cb;
        border-radius: 30px;
        overflow: hidden;
        margin-bottom: 0px;
    }
    .padding-item {
        padding: 8px 16px 0px 16px; //top right bottom left
    }
    .edit-text {
        border: 1px solid #b7c4cb;
        border-radius: 30px;
        width: 100%;
    }
    .drop-down-item, .drop-down {
        background: #f7f8fa;
    }
    .text-color {
        color: black;
    }

    // select option
    .select-label {
        width: 0% !important;
    }
    .select-item {
        width: 100% !important;
        padding-left: 0px;
    }

    ion-select {
        max-width: 100%;
    }

    ion-label[fixed] {
    -webkit-flex: 0 0 100px;
    -ms-flex: 0 0 100px;
    flex: 0 0 100px;
    width: 180px;
    min-width: 180px;
    max-width: 180px;
  }

}
