<!--
  Generated template for the NewItemPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="progress_inner" hideBackButton>
    <ion-buttons left>
      <button (click)="close()" ion-button color="danger" clear icon-only color="light">
        <img src="assets/img/img-close.png" style="width : 50%;" >
      </button>
    </ion-buttons>
    <ion-title>新功課</ion-title>
  </ion-navbar>
</ion-header>


<ion-content no-padding>

  <div padding>
    <ion-segment [(ngModel)]="module"  color="progress_inner" (ionChange)="switchModule(module)">
      <ion-segment-button value="server">
        查閱選擇咒藏
      </ion-segment-button>
      <ion-segment-button value="app">
        建立新咒藏
      </ion-segment-button>
    </ion-segment>
  </div>
  <div [ngSwitch]="module">
    <div *ngSwitchCase="'server'">
      <!--category-->
      <div  class="icon-wrapper padding-item">
        <ion-list class="drop-down" no-lines>
          <ion-item class="drop-down-item">
            <ion-label *ngIf="!isCategorySelected" [class.select-label] = "isCategorySelected">分類</ion-label>
            <ion-select [class.select-item] = "isCategorySelected" [(ngModel)]="categoryId" (ionChange)="categorySelected($event);">
              <ion-option *ngFor="let category of categoryList, let i = index" [value]="i" checked="false">{{category.category_name}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </div>
      <!--subCategory-->
      <div *ngIf="!isAppCategory&&isCategorySelected" class="icon-wrapper padding-item">
        <ion-list class="drop-down" no-lines>
          <ion-item class="drop-down-item">
            <ion-label *ngIf="!isSubCategorySelected" [class.select-label] = "isSubCategorySelected">子分類欄目</ion-label>
            <ion-select [class.select-item] = "isSubCategorySelected" [(ngModel)]="subCategoryId" (ionChange)="subCategorySelected($event)">
              <ion-option *ngFor="let subCategory of subCategoryList, let idx = index" [value]="idx" checked="false">{{subCategory.category_name}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </div>
      <!--item-->
      <div class="icon-wrapper padding-item">
        <ion-list *ngIf="isCategorySelected&&isSubCategorySelected" class="drop-down" no-lines>
          <ion-item class="drop-down-item">
            <ion-label *ngIf="!isItemSelected" [class.select-label] = "isItemSelected">名稱</ion-label>
            <ion-select [class.select-item] = "isItemSelected" [(ngModel)]="itemId" (ionChange)="itemSelected($event)">
              <ion-option *ngFor="let item of itemsList, let i = index" [value]="i" checked="false">{{item.item_name}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-list>
        <button *ngIf="!isSubCategorySelected" ion-button outline text-start block class="drop-down text-color" color="light" icon-right (click)="onSelectItemClicked()">
          <span class="button-inner" style="justify-content:space-between;">
            名稱
            <ion-icon name="md-arrow-dropdown" item-right style="color: gray;"></ion-icon>
          </span>
          <ion-button-effect></ion-button-effect>
        </button>
      </div>
    </div>
    <div *ngSwitchCase="'app'">
      <!--category-->
      <div  class="icon-wrapper padding-item">
        <ion-list class="drop-down" no-lines>
          <ion-item class="drop-down-item">
            <ion-label *ngIf="!isAppCategorySelected" [class.select-label] = "isAppCategorySelected">分類</ion-label>
            <ion-select [class.select-item] = "isAppCategorySelected" [(ngModel)]="appCategoryId" (ionChange)="appCategorySelected($event)">
              <ion-option *ngFor="let category of appCategories, let i = index" [value]="i" checked="false">{{category}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </div>
      <div class="padding-item">
        <ion-item no-lines>
          <ion-label fixed>名稱</ion-label>
          <ion-input type="text" value="" [(ngModel)]="item_name" class="edit-text" ></ion-input>
        </ion-item>
      </div>
    </div>
  </div>

  <div class="padding-item">
    <ion-item no-lines>
      <ion-label fixed>目標遍數</ion-label>
      <ion-input type="number" value="" [(ngModel)]="target_count" class="edit-text" ></ion-input>
    </ion-item>
  </div>
  <div class="padding-item">
    <ion-item no-lines>
      <ion-label fixed text-wrap>歷史遍數</ion-label>
      <ion-input type="number" [(ngModel)]="history_count" class="edit-text" (input)="changeHistoryCount($event)"></ion-input>
    </ion-item>
    <ion-item no-lines text-wrap>在使用此軟件之前，已經持誦過的遍數，可以紀錄在「歷史計數」一欄中，軟件會自動統計總遍數</ion-item>
  </div>
  <div class="padding-item">
    <ion-item no-lines>
      <ion-label fixed>建立日期</ion-label>
      <ion-datetime displayFormat="MMM DD YYYY" [min]="today" max="2050" [(ngModel)]="startDate" class="edit-text"></ion-datetime>
    </ion-item>
  </div>
  <div class="padding-item">
    <ion-item no-lines>
      <ion-label fixed>完成日期</ion-label>
      <ion-datetime displayFormat="MMM DD YYYY" [min]="today" max="2050" [(ngModel)]="endDate" (ionChange)="changeEndDateValue()" class="edit-text"></ion-datetime>
    </ion-item>
  </div>
  <div class="padding-item">
    <ion-item no-lines>
      <ion-label fixed>平均每日遍數</ion-label>
      <ion-input type="number" [(ngModel)]="daily_count" class="edit-text" [readonly]="true"></ion-input>
    </ion-item>
  </div>

  <div class="padding-item">
    <button ion-button color="progress_inner" block round (click)="save(categoryId, appCategoryId, itemId, item_name, target_count, startDate, endDate, daily_count, history_count)">保存</button>
  </div>

</ion-content>
